<nav class="navbar navbar-expand-md navbar-light fixed bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="/icon.png" class="img-fluid" alt="Artified"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="navbar-nav py-0 px-4">
                <li class="nav-item active">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/styles" class="nav-link">Explore</a>
                </li>
                <li class="nav-item">
                    <a href="/convert" class="nav-link">Convert</a>
                </li>
            </ul> 
            </div>
        </div>

    </div>
</nav>