<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <section class="container-flex style-container">
        <div class="container p-5 text-center">
            <img src="/style_images/style_<%=id%>.jpg" alt="">
            <div class="text-center">
                <button class="btn btn-lg btn-danger mt-4 px-3">SELECT</button>
            </div>
        </div>
    </section>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>