* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
a {
    text-decoration: none;
    color: white;
}

.navbar {
    padding: 0;
}

nav img {
    height: 50px;
    width: 50px;
    margin-left: 3vw;
    margin-right: 3vw; 
}

.nav-item {
    font-size: 23px;
    margin-right: 2.5vw;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-item a {
    color: #004 !important;
}

.nav-item a:hover {
    color: #666 !important;
}

.page-top {
    background: #f4f7f8;
    background-image:
      linear-gradient(
        to right, 
        #ffeeee, #efefe3
      );
}

.index {
    background-image: url('/index-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color:white;
}
.page-top h1 {
    font-weight: 480;
}

.page-top h3 {
    font-weight: 480;
}

.page-top p {
    font-weight: 450;
    font-size: 20px;
}

.example {
    width: 100%;
    overflow-x: hidden;
    border-radius: 3px;
    background-image:
    linear-gradient(
      to right, 
      #00a, #efefe3
    );
    color:white;
}
.example h1 {
    font-weight: 500;
}
.example img {
    width: 80%;
}

.active {
    border-bottom: 4px solid rgb(0, 0, 80);
}

.form-container{
    height: 65vh;
}
.form-container input {
    text-align: center;
}
.form-container label {
    font-size: 1.6em;
    font-weight: 450;
}
.form-container button {
    font-size: 1.6em;
    text-transform: uppercase;
    background: #00a;
    color: white;
}

.style-container {
    background-image:
    linear-gradient(
      to right, 
      #eaeaea, #fefefe
    );
    box-shadow: inset 40px 30px 150px #fefefe, inset -40px 30px 150px #fefefe;
}

.style-container img {
    width: 55%;
    height: 500px;
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19)
}

.download-container{
    height: 57vh;
    background: #fffeee;
}
.download-container button {
    font-size: 1.6em;
    text-transform: uppercase;
}

.styles {
    background: #dedeff;
}

.styles img {
    width: 100%;
    height: 340px;
}

.card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 3px;
    border: 0;
    margin-bottom: 1.5em;
}

.card:hover {
    transform: scale(1.03);
}
